.odometer {
  display: flex;
  align-items: center;
  justify-content: center;

  .digitWrapper {
    overflow: hidden;
    position: relative;
    font-size: 40px;

    .digit {
        position: absolute;
      animation-name: move;
      animation-duration: 4s;
      animation-timing-function: ease;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform:  translateY(calc(100%));
      display: flex;
      flex-direction: column;
      span {
        display: block;
      }

      @keyframes move {
        0% {
          transform:translateY(0);
        }
        100% {
          transform:translateY(calc(100%));
        }
      }
    }
  }
}
